@import "elements.less";

@background-color: #ffffff;
@text-color: #1A237E;
/*
p{
  background-color: @background-color;
  color: @text-color;
  padding: 15px;
}

ul{
  background-color: @background-color;
}

li{
  color: @text-color;
}


#circle(@size: 25px){
  background-color: #4CAF50;
  border-radius: 100%;

  width: @size;
  height: @size;
}

#small-circle{
  #circle
}

#big-circle{
  #circle(100px)
}

@var: #004590;

div{
  height: 50px;
  width: 50px;
  background-color: @var;

  &:hover{
    background-color: fadeout(@var, 50%)
  }
}*/

.gradient {
	.gradient(#F5F5F5, #17A589, #58D68D);
}

.bw-gradient {
	.bw-gradient(#EEE, 230, 255);
}

.bordered {
	.bordered(#EEE, #E5E5E5, #DDD, #E5E5E5);
        .drop-shadow(0, 3px, 5px, 0.2);
        .rounded(15px);
        .rotation(-15deg);

}
